[[inputs.exec]]
  commands = ["/usr/local/bin/telegraf_speedtest.sh"]
  interval = "30m"
  timeout = "1m"
  name_suffix = "_speedtest"
  data_format = "influx"

[[outputs.influxdb]]
  urls = ["http://influxdb.service.consul:{{ influxdb_port }}"]
  database = "homelab"
  retention_policy = "1month"
  namepass = ["*_speedtest"]
