[[inputs.exec]]
{% if 'pis' in group_names %}
  commands = ["cat /sys/class/thermal/thermal_zone0/temp"]
{% elif 'macs' in group_names %}
  commands = ["${HOME}/dotfiles-private/config/telegraf/cputemp.sh"]
{% endif %}
  timeout = "5s"
  name_suffix = "_cpu_temp"
  data_format = "value"
  data_type = "integer"
