version: '3.9'

services:
  consul:
    image: hashicorp/consul:{{ consul_version }}
    hostname: consul
    container_name: consul
    network_mode: "host"
    environment:
      - CONSUL_DISABLE_PERM_MGMT=
    volumes:
      - /volume1/docker/consul/data:/consul/data
      - /volume1/docker/consul/config:/consul/config
    command: consul agent -config-dir=/consul/config
    restart: unless-stopped
