version: '3.9'

services:
  asn-to-ip:
    image: ddimick/asn-to-ip:latest
    hostname: asn-to-ip
    container_name: asn-to-ip
    network_mode: "bridge"
    ports:
      - 5151:5000
    restart: unless-stopped
