{
  "nodeID": "{{ inventory_hostname }}",
  "nodeIP": "{{ ansible_host }}",
  "nodePort": "{{ tdarr_node_port }}",
  "serverIP": "{% for h in groups['lan'] if hostvars[h].is_tdarr_server == true %}{{ hostvars[h].ansible_host }}{% endfor %}",
  "serverPort": "{{ tdarr_server_port }}",
{% if ansible_os_family == 'Darwin' and ansible_architecture == 'arm64' -%}
  "handbrakePath": "/opt/homebrew/bin/HandBrakeCLI",
  "ffmpegPath": "/opt/homebrew/bin/ffmpeg",
{% else %}
  "handbrakePath": "/usr/local/bin/HandBrakeCLI",
  "ffmpegPath": "/usr/local/bin/ffmpeg",
{%- endif %}

  "mkvpropeditPath": "",
  "pathTranslators": [
    {
      "server": "",
      "node": ""
    }
  ]
}
